body {
    display: flex;
}

h1{
    text-align: center;
    margin: 0px;
    width: auto;
    border-bottom: 2px solid black;
}

.bg {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    font-size: 34px;
}

